<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jake.health">

    <application
        android:name=".ui.HealthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="cn.common.config.GlideConfig"
            android:value="GlideModule" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/main_activity" />
        <activity
            android:name=".ui.NavigationActivity"
            android:label="@string/title_activity_navigation"></activity>
    </application>

</manifest>