<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jake.health">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--android:theme="@style/AppTheme"-->
    <application
        android:name=".ui.HealthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.jake.health.core.glide.GlideConfig"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_activity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_activity" />
        <activity
            android:name=".ui.activity.ThreePartLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_activity" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.activity.QAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.activity.AnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.activity.MomentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.activity.HospitalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.activity.AddAnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity" />
        <activity
            android:name=".ui.RichEditorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>